<ul class="list-item">
  <li ng-repeat="item in tree" ng-include="'recTree'"></li>
</ul>

<script type="text/ng-template" id="recTree">
  <i class="fa fa-plus-square-o" ng-click="item.element.toggle = true" ng-if="!item.element.toggle && item.child && item.child.length"></i>
  <i class="fa fa-minus-square-o" ng-click="item.element.toggle = false" ng-if="item.element.toggle && item.child && item.child.length"></i>
  <span class="item" ng-bind="item.element.title" dnd-test="{{item.element}}"></span>
  <ul class="list-item" ng-if="item.child && item.child.length && item.element.toggle">
    <li ng-repeat="item in item.child" ng-include="'recTree'"></li>
  </ul>
</script>
