li {
  list-style-type: none;
  position: relative;
}

.fa {
  position: absolute;
  top: 9px;
}

.item {
  width: 300px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-left: 20px;
}
